@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

button.cs{
  font-size: 18px;
}

/* header part start */
.logo img{
  width: 70px;
}

.bg-custom{
  background-color: #295EAF;
}

nav ul li a{
  color: #fff !important;
}

nav ul li{
  margin: 0px 4px;
}

.navbar-nav li :hover{
  background-color: #204d99;
  padding: 8px 70px;
  border-radius: 5px;
}

.navbar-nav li .active{
  background-color: #204d99;
  padding: 8px 50px;
  border-radius: 5px;
}

.promo-section{
  padding: 150px 0px;
  background-image: url(/img/promo-section.jpg);
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}
.promo-section::before{
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(0,0,0,.5);
}

.promo-inner{
  width: 92%;
  margin: 0 auto;
  padding: 30px 250px;
}
.promo-inner h1, p, button{
  color: #fff;
  text-align: center;

}

/* header part end */

/* service section start */
.services-section{
  padding: 100px 0px;
}

/* service section end */


/* about section start */
.about-us{
  background-image: url(/img/about-us-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
.about-us::before{
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(0,0,0,.7);
}
section.about-us img {
  width: 100%;
  box-shadow: 0px 0px 0px 3px #fff;

}
section.about-us {
  padding-bottom: 100px;
  padding-top: 100px;
}

/* about section end */

/* contact form start */
.contact-form{
  padding-bottom: 100px;
  padding-top: 100px;
}

.contact-form form{
  width: 70%;
  margin: 0 auto;
}
/* contact form end */


/* footer section start */
footer{
  padding: 20px 0px;
  background: #111E4B;
}
/* .footer-logo{
  width: 70px;
} */
.footer-bar{
  background-color: #4c505f;
}
footer h4{
  color: #fff;
}

footer p, footer ul li a{
  color: rgb(212, 212, 212);
}

footer ul{
  list-style: none;
  margin-left: -35px;
}

ul.fooer-links li a{
  text-decoration: none;
  list-style: none;
}
.our-offer{
  padding-left: 9rem;
}
.footer-bottom{
  margin-bottom: -18px;
}
/* footer section end */